*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* background-color: #331010; */
    background-color: rgb(236, 236, 236);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    color: black;
    font-family:'Courier New', Courier, monospace;
}
.reg-log{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(97, 24, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 6rem;
    border-bottom: 0.25rem solid crimson;
}
.navbar{
    display: flex;
}
.navbar ul{
    padding: 1.2rem;
}
a{
    text-decoration: none;
    color: antiquewhite;
    transition: .3s;
}
a:hover{
    cursor: pointer;
    color: crimson;
    border-bottom: 2px solid white;
}

.navbar .btnlogin{
    color: white;
    background-color: #331010;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.25rem;
}

.navbar .btnlogin:hover{
    color: white;
    background-color: crimson;
    cursor: pointer;
}

.wrap{
    position:relative;
    width: 25rem;
    height: 27.5rem;
    padding: 1.5rem;
    /* background: transparent; */
    border: 2px solid rgba(0, 0, 0, 0.267);
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease , height .2s ease;
}

.wrap.active-popup{
    transform: scale(1);
}

.wrap.active{
    height: 540px;
}
.wrap .formbox.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrap.active .formbox.login{
    transition: none;
    transform: translateX(-400px);
}

.wrap.active .formbox.register{
    transition: transform .18s ease;
    transform: translateX(0px);
}

.wrap .formbox.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrap .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: crimson;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.wrap .formbox{
    width: 100%;
    padding: 3rem;
}
.formbox h2{
    font-size: 2.2em;
    text-align: center;
    padding-bottom: 1.2rem;
}

.wrap .check{
    padding: 1rem;
}

.user{
    position: relative;
    width: 100%;
    height: 3.2rem;
    border-bottom: 2px solid black;
    margin: 2rem 0;
}
.user label{
    position: absolute; 
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.2em;
    font-weight: 500;
    pointer-events: none;
    transition: .4s;
}
.user   input:focus~label,
.user   input:valid~label{
    top: -5px;
}
.user input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: black;
    padding: 0 35px 0 5px;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: crimson;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.register{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.btn:hover{
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgb(177, 0, 0);
    color: white;
}
.register a{
    color: rgb(114, 114, 255);
    text-decoration: none;
    font-weight: 600;
}
.register a:hover{
    color: goldenrod;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeContent{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.homeContent h1{
    padding-bottom: 3rem;
}
.homeContent h2{
    padding: 2rem;
}
.homeContent h3{
    padding: 2rem;
}
.homeContent p{
    font-size: 1.2rem;
    font-weight: 700;
}
.image{
    width: 80%;
    margin: 5rem;
}

.cont{
    display: flex;
    justify-content: center;
}


.contact{
    width: 60%;
    border: 2px solid rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.contact input{
    margin: 1.2rem;
    height: 2rem;
}
.contact textarea{
    font-size: 1.2rem;
    font-weight: 500;
}
.contact .btn{
    margin: 1rem;
}
footer{
    color: black;
    background-color: rgb(95, 99, 98);
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}
footer a:hover{
    color: blanchedalmond;
}