<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="maincss.css">
</head>
<body>
    <div class="admin">
        <h1>Hello!!, Admin</h1>
        <br>
        <img src="profile.png" alt="Profile">
        <br>
        <button><a href="/getallUsers">Get All Users</a></button>
        <button><a href="/logout">Log Out</a></button>
    </div>
</body>
</html>