<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
</head>
<body>
    <h2>Assignments :</h2>
    <h2>Downloads</h2>
    <ul>
        <% assignments.forEach((assignment) => { %>
            <li>
                <a href="/download/<%= assignment._id %>" download>
                    <%= assignment.name %> - Download
                </a>
            </li>
        <% }); %>
    </ul>
    <h2>Upload Assignment file : </h2>
    <button><a href="/uploadassign">Upload</a></button>
</body>
</html>