<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="style3.css">
</head>

<body>
    <main>
        <form method="post" action="/teacherRegister">
            <h1>REGISTER</h1>
            <input type="text" placeholder="Name" name="name" required>
            <label for="department">Enter Department : 
                <select name="department" id="department">
                    <option value="CS">CS</option>
                    <option value="EE">Electrical</option>
                    <option value="CE">Civil</option>
                    <option value="ME">Mechanical</option>
                    <option value="AE">Aeronautical</option>
                    <option value="HEAS">HEAS</option>
                </select>
            </label>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Register</button>
            <p>Already have an Account ? <a href="/teacherLogin">Login</a></p>
        </form>
    </main>
</body>

</html>