<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="maincss.css">
</head>
<body>
    <header>
        <div class="nav">
            <h2>Class Management System</h2>
            <div class="navbar">
                
                <ul><a href="">Time-Table</a></ul>
                <ul><a href="/assignments">Assignments</a></ul>
                <ul><a href="/teacherprofile">Profile</a></ul>
            </div>
        </div>
    </header>
</body>
</html>