<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="maincss.css">
</head>
<body>
    <header>
        <div class="nav">
            <h2>Class Management System</h2>
            <div class="navbar">
                <ul><a href="/assignments">Assignments</a></ul>
                <ul><a href="/teacherprofile">Profile</a></ul>
                <ul><a href="/logout">Log Out</a></ul>
            </div>
        </div>
    </header>
    <main>
        <div class="assign">
            <img src="pexels-pixabay-289737.jpg" alt="Assignments">
            <br>
            <button><a href="/assignments">Assignments</a></button>
        </div>
        <div class="profile">
            <img src="profile.png" alt="Profile">
            <br>
            <button><a href="/teacherprofile">Profile</a></button>
        </div>
    </main>
</body>
</html>