*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

header{
    background-color: #222f3d;
    border-bottom: 0.25rem solid #0f1111;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 2.5vmax;
}

.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar ul{
    margin-left: 2rem;
}
a{
    text-decoration: none;
    color: white;
    transition: all .3s;
}
a:hover{
    text-decoration: underline;
}
.welcome{
    text-align: center;
    padding: 2vmax;
}

main{
    display: flex;
    justify-content: center;
}
img{
    width: 50%;
}
.assign{
    width: 50%;
    text-align: center;
}
.profile{
    width: 50%;
    text-align: center;
}
.assign img{
    width: 70%;
}
.profile img{
    width: 80%;
}

.admin{
    text-align: center;
}


button{
    background-color: blueviolet;
    border-radius: 5px;
    width: 12rem;
    color: white;
    align-self: center;
    font: 400 1rem sans-serif;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
}
button:hover{
    background-color: crimson;
    transition: all .3s;
}

#profileContainer p{
    margin: 1vmax;
    font-weight: 600;
}